html{
    
    
    background-size: cover;
}

body
{
    background-color: #EEEEEE ! important;
    min-height: 100%;
    font-family: "Verdana";
}

.containerRox{
    margin: 0px auto;
    min-height: 80vh;
    text-align: center;
    width: 75%;
    box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.37);
    background-color: #F9F9F9;
    font-size: 3vmin;
    color: #0F5896;
}

.buttonIndex{
    background-color: #0F5896;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 90px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.buttonIndex2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.barRox{
    background-color: #0F5896;
    min-height: 5vh;
    text-align: center;
    color: white;
    font-size: 3vmin;
    width:75%;
    margin: 0 auto;
    
}

button.accordion{
	padding-top: 10px;
    min-height: 5vh;
    text-align: center;
    color: #0F5896;
    text-align: center;
    font-size: 5vh;
    width:95%;
    margin: 0 auto;
}

table {
    font-family: "VerdanaS", sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 3vmin;
}

th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-weight: bold
}

td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #dddddd;
    margin: 0;
    padding: 0;
}

.accordion {
    background-color: #F9F9F9;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: #F9F9F9;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: "\0FF0B"; /* Unicode character for "plus" sign (+) */
    font-size: 5vh;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\0FF0D"; /* Unicode character for "minus" sign (-) */
}

.popup{
    
    display: inline-block;
    box-shadow: 0px 3px 8px 0px rgba(15, 88, 150, 0.60);
    min-height: 15vh;
    margin: 0px auto;
    margin-top: 5vmin;
    
    
}
.popup .header{
    background-color: #0F5896;
    display: block;
    margin: 0px auto;
    width: 100%;
    color: white;
    font-family: "Verdana";
}

.remove-all-margin-padding{
margin:0 ! important;
padding:0 ! important;
}

.changedContainer{
    width: 50% ! important;
    padding-right: 0 ! important;
    padding-left: 0 ! important;
}
